student {
	display: block;
	text-align: center;
	padding: 50px;
	background: #eee;

}

usn{
	display:block;
	color: red;
		border: 10px;
}

name{
	display:inline-block;
}

branch{
	display:inline-block;
}

year{
	display:inline-block;
}